*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.link-class{
  text-decoration: none;
  color: white;
}

nav{
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 2vw;
  background-color: #272829;
  color: white;
  align-items: center;
}

nav .left h1{
  font-size: 4vw;
}

nav .right ul{
  display: flex;
  justify-content: space-evenly;
}

nav .right li{
  list-style: none;
  font-size: 1.3vw;
  cursor: pointer;
}

nav .right li:hover{
  text-decoration: underline cornflowerblue;
}

footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2vw 1vw;
  background-color: #272829;
  color: white;
  gap: 2vw;
}

footer .company-detail{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.3);
  padding-left: 2vw;
}

footer .social{
  display: flex;
  gap: 3vw;
}

footer .social a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

footer .links{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;
}

footer .links li{
  list-style: none;
  cursor: pointer;
  margin: 0.5vw 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.5vw;
  transition: all ease 0.2s;
}

footer .links li:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

#hero{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 1vw;
}

#hero .left{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 1.5vw;
  background: linear-gradient(to left,white,rgba(0, 0, 0, 0.5));
}

#hero .left h1{
  font-size: 10vw;
  color: crimson;
}

#hero .left p{
  line-height: 2;
  font-size: 1.2vw;
}

#hero .right{
  background-image: url("https://img.freepik.com/free-vector/vector-illustration-space-rocket-launch_1441-683.jpg?w=740&t=st=1693756450~exp=1693757050~hmac=84ce20eb3e6ec596faae7803ca3193843b06479e4b736d50f0c7bb33c3b2f074");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}